* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.main {
    width: 80%;
    margin: 0 auto;
}
.header {
    height: 8rem;
}
.logo {
    width: 100%;
}
.characters {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
    gap: 2rem;
    justify-content: center;
}
.character__title {
    margin: 1rem 0;
    font-size: 2rem;
    color: black;
    text-align: center;
}
.character__image {
    border-radius: 1rem;
}
.character-card {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}
.character-card__image img {
    margin-bottom: 2rem;
}
.character-card__image h2 {
    font-size: 2.2rem;
    text-align: center;
}
.character-card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.character-card__description p {
    font-size: 2rem;
}
.character-card__description p span{
    font-weight: bold;
}